<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>User page</title>
</head>
<body>
<h1>Good day, <th:block th:text="${user.firstName}"></th:block>!</h1>
<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <th:block th:each="role : ${user.roles}">
                <label th:text="${role.authority}"></label>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<form th:action="@{/logout}" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>